.food-cart{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-cart-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-cart-info{
    padding: 20px;
}

.food-cart-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-cart-name-rating p{
    font-size: 20px;
    font-weight: 500;
}

.food-cart-name-rating img{
    width: 60px;
}

.food-cart-desc{
    color: #676767;
    font-size: 12px;
}

.food-cart-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}

.food-cart-image-container{
    position: relative;
}

.food-cart-image-container .add{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.food-cart-counter{
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-cart-counter img{
    width: 30px;
    cursor: pointer;
}